.carrousel {
    position: absolute;
    width : 100vw;
    height : 100vh;
    top :0;
    left: 0;
    background-color: aqua ;    
}

@media screen and (min-width:700px){
    .carrousel {
        position: absolute;
        width : 50vw;
        height : 50vh;
        top : 25vh;
        left: 25vw;
      
    }
}
.carrousel__figure{
    position: absolute;

}
.carrousel__figure img
